body {
	background: url("../imagens/brickwall.png");
	font-family: Verdana, Geneva, sans-serif;
	/*background: url(http://localhost:8090/ECommerce/imagens/bg.jpg) center
		top no-repeat;*/

}
h1{
	margin-left:40%;
}

.icone_categoria {
	text-align: left;
	margin-left: 2px;
	padding: 0;
	width: 187px;
	height: 42px;
	background-image: url(../imagens/img_menu_azul.png);
	background-repeat: no-repeat;

}
.h2titcategoria{
    color: #ffffff;
    font-family: "Swis721";
    letter-spacing: 0px;
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #4B4747;
    font-weight: normal;
    padding: 9px 0 0 46px;
    margin: 5px 0 0 0;
}

#principal {
	border: 0px solid white;
	width: 1100px;
	height: auto;
	margin: 0 auto;
	padding: 2px;
}

#cabecalho {
	border: 0px solid white;
	width: auto;
	height: auto;
	margin-bottom: 2px;
	margin-left: 194px;
}

#menu {
	border: 0px solid white;
	width: auto;
	height: auto;
	margin-bottom: 2px;
}

#coluna_esquerda {
	border: 0px solid white;
	width: 50px;
	height: auto;
	float: left;
	margin-bottom: 2px;
	display: block;
	background-color: #2eaeb7;
	
}

#conteudo {
	border: 0px solid white;
	width: auto;
	height: auto;
	/*margin-left: 194px;*/
	margin-right: 0px;
	margin-bottom: 2px;
}

#rodape {
	border: 0px solid white;
	width: auto;
	height: 80px;
	clear: both;
	background-color: #ffffff;
}
.letrabranca{
	color:white;
}
.bordo{
	background-color:#5f021f;
}
.tam-bordo{
	height:40px;
}
.font12{
	font-size:12px;
}
.font14{
	font-size:14px;
}
.font16{
	font-size:16px;
}
.font18{
	font-size:18px;
}
.font20{
	font-size:20px;
}
.font24{
	font-size:24;
}
.ajuste-topo{
	margin-left:25%;
}
.sobecarrinho{
	margin-top:-400px;
}
.ajuste-carrinho{
	margin-top:-100px;
	margin-left:90%;
}
#form:keyword{
	margin-top:300px;
}
#form:regular{
	margin-top:6px;
	margin-left:5px;
}






